*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
}

.newNote {
  border: 1px solid black;
}

.notes {
  width: 100%;
}

.note {
  border: 1px solid black;
  width: 30%;
  float: left;
  padding: 10px;
  margin: 5px;
}
